Django>=5.0,<6.0
djangorestframework>=3.14.0,<4.0
django-cors-headers>=4.0.0,<5.0
drf-yasg>=1.21.0,<2.0
psycopg2-binary>=2.9.0,<3.0
python-dotenv==1.0.0
replicate==1.0.7
requests==2.31.0
gunicorn>=21.0.0,<22.0
whitenoise>=6.0.0,<7.0

# Podcast generation dependencies
PyPDF2==3.0.1
pathlib==1.0.1
argparse==1.4.0
urllib3==2.0.4
pyyaml==6.0.2
pdfplumber==0.10.3
google-generativeai==0.3.2

# Additional dependencies
Flask>=3.0.0,<4.0
Flask-Migrate>=4.0.0,<5.0
Flask-RESTful>=0.3.0,<1.0
Flask-SQLAlchemy>=3.1.0,<4.0
Pillow>=10.0.0,<11.0
SQLAlchemy>=2.0.0,<3.0
boto3>=1.37.0,<2.0
botocore>=1.37.0,<2.0
certifi>=2024.2.2,<2025.0
charset-normalizer>=3.3.2,<4.0
click>=8.1.7,<9.0
idna>=3.6,<4.0
itsdangerous>=2.1.2,<3.0
Jinja2>=3.1.3,<4.0
jmespath>=1.0.1,<2.0
MarkupSafe>=2.1.5,<3.0
packaging>=23.2,<24.0
python-dateutil>=2.8.2,<3.0
pytz>=2023.3,<2024.0
s3transfer>=0.7.0,<1.0
six>=1.16.0,<2.0
typing_extensions>=4.9.0,<5.0
Werkzeug>=3.0.1,<4.0
sqlparse>=0.4.4,<0.5.0
dj-database-url==2.3.0